#mycanvas {
	position: absolute;
	left: 380px;
	top: 20px;
	display: block;
}

.buttons {
	position: absolute;
	left: 620px;
	top: 300px;
	width: 200px;
}

.button {
	margin-top: 30px; 
	display:block;
	/*display: inline-block;*/
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 16px/100% 'Microsoft yahei',Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

#startButton1 {
	background: url(images/start.png) no-repeat;
	display: none;
	margin-left: 100px;
	margin-top: 50px;
	width:150px;
	height:60px;
	border:none;
}

#animate {
	background: url(images/animate.png) no-repeat;
	display: none;
	margin-left: -5px;
	margin-top: 100px;
	width:150px;
	height:60px;
	border:none;
}

#home {
	background: url(images/home.png) no-repeat;
	display: none;
	margin-left: 120px;
	margin-top: 150px;
	width:162px;
	height:51px;
	border:none;
}

#choose {
	position: absolute;
	left: 200px;
	top: 30px;
}

#chooseRoles {
	border: 3px solid #a7d46f;
	/*background-color: #d0f9b1;*/
	margin-top: 10px;
	width: 130px;
	height: 150px;
}

#chooseRoleText {
	text-align: center; 
	font-size: 18px; 
	margin-top: 5px; 
	margin-bottom: 10px;
}

#chooseLevels {
	border: 3px solid #a7d46f;
	background-color: #d0f9b1;
	margin-top: 20px;
	width: 130px;
	height: 150px;
}

.chooseLevel {
	margin-top: 10px; 
	margin-left: 30px
}

#chooseLevelText {
	text-align: center; 
	margin-top: 5px; 
	font-size: 18px;
}

#recharge {
	border: 3px solid grey;
	margin-top: 20px;
	width: 130px;
	height: 150px;
}

#rechargeText {
	text-align: center; 
	margin-top: 5px; 
	font-size: 18px;
}

#girl {
	margin-top: 10px;
}

#boy {
	margin-top: 10px; 
	margin-left: 15px
}

#current {
	position: absolute;
	left: 1020px;
	top: 20px;
	width: 80px;
}

.currentButton {
	background: url(images/button.png) no-repeat; 
	width: 80px;
	height: 32px; 
	margin-top: 15px; 
	border:none;
}
#msg0 {
    text-align: center;
	font-size: 17px;
	font-weight: 800; 
	margin-top: 5px;

}
#msg1 {
	text-align: center;
	font-size: 20px;
	font-weight: 900; 
	margin-bottom: 5px;
}

#msg2 {
	text-align: center;
	margin-top: 5px;
	font-size: 17px;
	font-weight: 700;
}

#musicOnButton {
	margin-left: 24px;
	margin-bottom: 5px;
	background: url(images/music-on.png) no-repeat; 
	width:35px; 
	height: 35px; 
	background-color: rgba(0, 0, 0, 0);
	display: block;
	border-radius: 5px;
	border-color: rgba(0, 0, 0, 0);
}
